.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.responsive-image-member {
    width: 378px;
    height: 257px;
  }

  /* Para pantallas grandes (1024px o más) */
  @media (min-width: 1024px) {
    .responsive-image-member {
      width: 378px;
      height: 257px;
    }
  }

  /* Para pantallas muy grandes (1440px o más) */
  @media (min-width: 1440px) {
    .responsive-image-member {
      width: 418px;
      height: 297px;
    }
  }

  @media (min-width: 1440px) {
    .responsive-image {
      width: 418px;
      height: 297px;
    }
  }