<div class="m-4">
    <h2 class="text-red-600 text-4xl">
        Grupo de investigacion
    </h2>
    <div class="my-3">
        <p class="text-justify">
            El Grupo de investigación se generó a partir de profesionales que originalmente, desde principios de la
            década del 70, estuvieron vinculados al Instituto de la Construcción de la Universidad del Valle,
            fundamentalmente dedicados a actividades de investigación y asistencia técnica, y que a partir de 1975 se
            vincularon como docentes de la Facultad de ingeniería, integrándose a las actividades académicas propias de
            la Universidad. Estos mismos profesionales, junto a nuevos docentes vinculados de diferentes disciplinas de
            las Ciencias e Ingeniería, contribuyeron a la creación de la unidad académica Departamento de Materiales de
            Ingeniería, y fueron gestores del plan de pregrado en Ingeniería de Materiales. En noviembre del año 2000,
            se produjo la reestructuración de la Facultad de Ingeniería en Escuelas dando lugar a la actual Escuela de
            Ingeniería de Materiales, a la cual quedó adscrito el grupo.
        </p>
    </div>
    <div>

        <div class="mb-4" onclick="toggleMenu(this)">
            <div
                class="flex cursor-pointer justify-center p-2  bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200">
                <img src="/img/utils/bombilla.png" class="h-10" />
                <div class="flex justify-center items-center px-4">
                    <h2 class="text-red-700 text-center text-lg font-bold">
                        Acerca del grupo
                    </h2>
                </div>
            </div>
            <div id="menu" class="hidden transition-all duration-500 ease-in-out overflow-hidden p-4"
                onclick="event.stopPropagation()">
                <h4 class="mt-4 text-2xl text-red-500">
                    Objetivo:
                </h4>

                <p class="text-justify mb-4">Investigar formando talentos humanos en el campo de la Ciencia e Ingeniería
                    de los Materiales
                    relacionados con los composites aportando con visión global e inserción internacional a un
                    desarrollo sostenible y competitivo del país.</p>
                <p class="text-justify mb-4">La estrategia fundamental del Grupo gira alrededor de la búsqueda de la
                    Excelencia que se realiza
                    principalmente a través de los programas de postgrado, maestría y doctorado. En el GMC se
                    identifican problemas de investigación, se formulan y gestionan propuestas, se ejecutan proyectos,
                    se comunican y transfieren al medio los resultados de investigación. Se tiene y fomenta una actitud
                    crítica hacía el mismo grupo y hacia el exterior con pares, se forma y reproduce la masa crítica de
                    investigadores haciendo que la temática de conocimiento del Grupo se renueve y profundice
                    manteniendo por lo tanto su vigencia y pertinencia. Se cuenta con un semillero de investigadores con
                    estudiantes de pregrado que constituye la cantera de estudiantes de postgrado. Se impacta el medio
                    asociando la investigación con las necesidades del sector productivo y se logra la inserción
                    internacional a través de la producción científica, los intercambios académicos y la participación
                    en redes.</p>

                <h4 class="mt-4 text-2xl text-red-500">
                    Misión:
                </h4>
                <p class="text-justify"> La misión del Grupo Materiales Compuestos es la de Investigar formando talentos
                    humanos con
                    visión global e inserción internacional en el campo de la Ciencia e Ingeniería de los Materiales
                    para aportar a un desarrollo sostenible y competitivo del país, que lleve a mejorar las
                    condiciones sociales, culturales y económicas de la población colombiana.</p>
                <h4 class="mt-4 text-2xl text-red-500">
                    Visión:
                </h4>
                <p class="text-justify"> La misión del Grupo Materiales Compuestos es la de Investigar formando talentos
                    humanos con
                    visión global e inserción internacional en el campo de la Ciencia e Ingeniería de los Materiales
                    para aportar a un desarrollo sostenible y competitivo del país, que lleve a mejorar las
                    condiciones sociales, culturales y económicas de la población colombiana.</p>
            </div>
        </div>
        <div class="mb-4 " onclick="toggleMenu(this)">
            <div
                class="flex p-2 cursor-pointer justify-center bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200">
                <img src="/img/utils/bombilla.png" class="h-10" />
                <div class="flex justify-center items-center px-4">
                    <h2 class="text-red-700 text-center text-lg font-bold">
                        Nuestros servicios
                    </h2>
                </div>
            </div>
            <div id="menu" class="hidden transition-all duration-500 ease-in-out overflow-hidden p-4 "
                onclick="event.stopPropagation()">
                <div class="flex gap-2 mb-4">
                    <h4 class="text-red-600 text-lg">
                        1. Ensayos de caracterización
                    </h4>
                </div>

                <p class="text-justify"> El Laboratorio cuenta con equipos para la caracterización química, física y
                    estructural, además de otros equipos auxiliares complementarios a las principales técnicas, que
                    permanecen verificados y debidamente calibrados.
                </p>

                <p class="mt-4">
                    Algunos de los ensayos ofrecidos, incluyen los siguientes:

                </p>

                <ul class="list-disc mx-6">
                    <li>
                        Resistencia a tensión, flexión, y compresión en materiales de ingeniería.
                    </li>
                    <li>
                        Tamaño de partícula por granulometría láser y/o tamices.
                    </li>
                    <li>
                        Determinación de parámetros morfológicos (MEB)*
                    </li>
                    <li>
                        Composición química por Fluorescencia de Rayos- X*.
                    </li>
                    <li>
                        Espectroscopia de Infrarrojo (FTIR).
                    </li>
                    <li>
                        Análisis térmico diferencial (TGA/DTG/DSC).
                    </li>
                    <li>
                        Determinación del índice de blancura por espectrometría.
                    </li>
                    <li>
                        Determinación de propiedades térmicas (Conductividad, calor específico y difusividad).
                    </li>
                    <li>
                        Determinación del coeficiente de expansión térmica por dilatometría térmica.
                    </li>
                    <li>
                        BET- área superficial y porosidad de materiales
                    </li>
                    <li>
                        Densitometría por picnometría de helio.
                    </li>
                    <li>
                        Calorimetría isotérmica.
                    </li>
                    <li>
                        Ensayos de durabilidad (permeabilidad a cloruros, resistencia a la polarización lineal,
                        pendientes Tafel, susceptibilidad a carbonatación, susceptibilidad a sulfatos, entre otros).
                    </li>
                </ul>

                <div class="flex gap-2 my-4">
                    <h4 class="text-red-600 text-lg">
                        2. Ensayos de Desempeño
                    </h4>
                </div>
                <p>
                    Contamos con equipos que permiten evaluar el desempeño físico, térmico, mecánico y de durabilidad de
                    materiales cerámicos y de construcción, a través de pruebas estandarizadas que se utilizan para
                    determinar su idoneidad para las aplicaciones propuestas.

                </p>

                <div class="flex gap-2 my-4">
                    <h4 class="text-red-600 text-lg">
                        3. Asesoría Técnica
                    </h4>
                </div>
                <p>
                    Nuestro servicio de asesoría técnica y especializada es brindado por personal altamente capacitado
                    para el sector industrial en procesos de Investigación e Innovación.


                </p>
            </div>
        </div>

        <div class="mb-4 " onclick="toggleMenu(this)">
            <div
                class="flex cursor-pointer justify-center p-2  bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200">
                <img src="/img/icons/3_prof_asist.png" width="36" height="36" />
                <div class="flex justify-center items-center px-4">
                    <h2 class="text-red-700 text-center text-lg font-bold">
                        Patentes
                    </h2>
                </div>
            </div>
            <div class="hidden relative overflow-hidden mt-4" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-4 ">
                    <div class="">
                        <ul class="mx-2 list-disc text-justify">
                            <li class="mb-2 ">
                                AEROGEL A PARTIR DE MATERIAS PRIMAS ALTERNATIVAS DE ALTO CONTENIDO DE SÍLICE Y PRODUCTO
                                OBTENIDO
                                Colombia, 2022, Disponibilidad: Restringido, Nombre comercial:
                                Institución financiadora:
                                Autores: SILVIO DELVASTO ARJONA, JOHN ALEXANDER TORRES LEON</li>
                            <li class="mb-2 ">MÉTODO PARA FABRICAR UNA COMPOSICIÓN DE INJERTO RÍGIDO TIPO BLOQUE COMO
                                SUSTITUTO ÓSEO A PARTIR DE ÁCIDO POLILÁCTICO (PLA) INJERTADO EN LOS GRUPOS HIDROXILOS
                                DEL QUITOSANO, E INJERTO RÍGIDO TIPO BLOQUE OBTENIDO
                                Colombia, 2019, Disponibilidad: Restringido, Nombre comercial: INJETO RÍGIDO
                                Institución financiadora: UNIVERSIDAD DEL VALLE
                                Autores: JOSE HERMINSUL MINA HERNANDEZ, MAYRA ELIANA VALENCIA ZAPATA, CARLOS HUMBERTO
                                VALENCIA LLANO, FABIO ZULUAGA CORRALES</li>
                            <li class="mb-2 ">Patente de Invención Nacional - MATERIAL COMPUESTO CEMENTANTE CON ALTO
                                CONTENIDO DE PUZOLANA VOLCÁNICA Y PROCESOS DE OBTENCIÓN DEL MISMO
                                Colombia, 2017, Disponibilidad: Restringido, Nombre comercial: PUZOGEOH
                                Institución financiadora: Ministerio de Ciencia, Tecnología e Innovación.
                                Autores: RUBY MEJIA DE GUTIERREZ, RAFAEL ANDRES ROBAYO SALAZAR</li>
                            <li class="mb-2 "> SILVIO DELVASTO ARJONA, ALVARO GUZMAN APONTE, ENRIQUE SANCHEZ VILCHES.
                                Nombre comercial:
                                Proceso para la obtención de gres porcelánico empleando como materia prima ceniza de
                                tamo de arroz y producto obtenido. Resolución No: 2732 de 29 de enero de 2016. Patente
                                29970.</li>
                            <li class="mb-2">RUBY MEJÍA DE
                                GUTIÉRREZ, MICHEL ANGELO OSPINA GÚZMAN, ANDRÉS SALAS MONTOYA, SILVIO
                                DELVASTO ARJONA. PATENTE #1 DE INVENCION CONJUNTA UNIVERSIDAD DEL VALLE
                                - ARROCERA LA ESMERALDA S.A. E INVESTIGADORES. Nombre comercial:
                                Procedimiento para la obtención de una puzolana por tratamientos
                                térmico y físico y producto obtenido a partir del mismo.
                                contrato/registro: 08-061404-00000-0000. Sometida en 2008, otorgada en
                                septiembre 26 del 2012, Resolución 56050. Colombia.</li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="mb-4 border " onclick="toggleMenu(this)">
            <div
                class="flex cursor-pointer justify-center p-2  bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200">
                <img src="/img/icons/4_invest_asoc_colccns.png" width="36" height="36" />
                <div class="flex justify-center items-center px-4">
                    <h2 class="text-red-700 text-center text-lg font-bold">
                        Artículos Científicos
                    </h2>
                </div>
            </div>
            <div class="hidden relative overflow-hidden  mt-4" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-4">
                    <div class="">
                        <ul class="mx-2 list-disc text-justify">
                            <li class="mb-2"><span style="font-size: 11pt;">

                                    Effects of incorporating bentonite, metakaolin, microsilica, and calcium carbonate
                                    on the rheological properties of portland cement-based 3D printing inks
                                    Reino Unido, CONSTRUCTION AND BUILDING MATERIALS ISSN: 0950-0618, 2024 vol:445 fasc:
                                    NA págs: 1 - 16, DOI:10.1016/j.conbuildmat.2024.137857
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, MIGUEL MUNOZ BENAVIDES, ARMANDO VARGAS LOPEZ,
                                    RUBY MEJIA DE GUTIERREZ</span></li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Effects of incorporating bentonite, metakaolin, microsilica, and calcium carbonate
                                    on the rheological properties of portland cement-based 3D printing inks
                                    Reino Unido, CONSTRUCTION AND BUILDING MATERIALS ISSN: 0950-0618, 2024 vol:445 fasc:
                                    NA págs: 1 - 16, DOI:10.1016/j.conbuildmat.2024.137857
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, MIGUEL MUNOZ BENAVIDES, ARMANDO VARGAS LOPEZ,
                                    RUBY MEJIA DE GUTIERREZ</span></li>


                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Efect of clays incorporation on properties of thermoplastic starch/clay composite
                                    bio‑based polymer blends
                                    Inglaterra, SCIENTIFIC REPORTS ISSN: 2045-2322, 2024 vol:14 fasc: págs: 1 - 11,
                                    DOI:10.1038/s41598-024-69092-1
                                    Autores: MARIO DZUL CERVANTES, CARLOS ROLANDO RIOS SOBERANIS, EMILIO PEREZ PACHECO,
                                    YASSER CHIM CHI, JOSE HERMINSUL MINA HERNANDEZ</span></li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Graphene Oxide Nanosheets for Bone Tissue Regeneration
                                    Suiza, MOLECULES ISSN: 1420-3049, 2024 vol:29 fasc: págs: 1 - 19,
                                    DOI:10.3390/molecules29143263
                                    Autores: JORGE IVAN CASTRO CASTRO, ALANA PAYAN VALERO, CARLOS HUMBERTO VALENCIA
                                    LLANO, MAYRA ELIANA VALENCIA ZAPATA, JOSE HERMINSUL MINA HERNANDEZ, PAULA ZAPATA
                                    RAMIREZ, CARLOS DAVID GRANDE TOVAR</span></li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Characterization and Implementation of Cocoa Pod Husk as a Reinforcing Agent to
                                    Obtain Thermoplastic Starches and Bio-Based Composite Materials
                                    Suiza, POLYMERS ISSN: 2073-4360, 2024 vol:16 fasc: págs: 1 - 21,
                                    DOI:10.3390/polym16111608
                                    Autores: ANDRES MAURICIO HOLGUIN POSSO, JUAN CARLOS MACIAS SILVA, JUAN PABLO
                                    CASTANEDA NINO, JOSE HERMINSUL MINA HERNANDEZ, LETY DEL PILAR FAJARDO CABRERA DE
                                    LIMA</span></li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Manufactura aditiva de materiales basados en suelos: estado actual y perspectivas
                                    futuras de esta tecnología de construcción amigable con el ambiente
                                    Colombia, UIS INGENIERIAS ISSN: 2145-8456, 2024 vol:23 fasc: 2 págs: 91 - 110,
                                    DOI:10.18273/revuin.v23n2-2024006
                                    Autores: NATHALIA CONDE CAICEDO, MONICA ALEJANDRA VILLAQUIRAN CAICEDO, RUBY MEJIA DE
                                    GUTIERREZ</span></li>

                            <li class="mb-2"><span style="font-size: 11pt;">Potential of Plantain Pseudostems (Musa AAB
                                    Simmonds) for Developing Biobased Composite Materials
                                    Suiza, POLYMERS ISSN: 2073-4360, 2024 vol:16 fasc: págs: 1 - 17,
                                    DOI:10.3390/polym16101357
                                    Autores: JUAN PABLO CASTANEDA NINO, JOSE HERMINSUL MINA HERNANDEZ, JOSE FERNANDO
                                    SOLANILLA DUQUE</span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">Utilization of powders and fine aggregates
                                    from the recycling of construction and demolition waste in the 3D printing of
                                    Portland-based cementitious materials
                                    Reino Unido, CLEANER MATERIALS ISSN: 2772-3976, 2024 vol:11 fasc: N/A págs: 1 - 17,
                                    DOI:10.1016/j.clema.2024.100234
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, ARMANDO VARGAS LOPEZ, FABIO MARTINEZ
                                    GUTIERREZ, RUBY MEJIA DE GUTIERREZ</span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">Using Plantain Rachis Fibers and Mopa-Mopa
                                    Resin to Develop a Fully Biobased Composite Material
                                    Suiza, POLYMERS ISSN: 2073-4360, 2024 vol:16 fasc: págs: 1 - 15,
                                    DOI:10.3390/polym16030329
                                    Autores: JOSE HERMINSUL MINA HERNANDEZ, LETY DEL PILAR FAJARDO CABRERA DE LIMA,
                                    ESTIVINSON CORDOBA URRUTIA, HARRY ALEXANDER MATURANA PENA, ALEX VALADEZ GONZALEZ,
                                    CARLOS ROLANDO RIOS SOBERANIS, EMILIO PEREZ PACHECO</span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;"> Performance of Self-Compacting Concrete
                                    with Residue of Masonry and Recycled Aggregate under sulfate attack
                                    Estados Unidos, JOURNAL OF MATERIALS IN CIVIL ENGINEERING ISSN: 0899-1561, 2024
                                    vol:366 fasc: 1 págs: 1 - 12, DOI:10.1061/JMCEE7.MTENG-15741
                                    Autores: YIMMY FERNANDO SILVA URREGO, SILVIO DELVASTO ARJONA, WILLIAM GUSTAVO
                                    VALENCIA SAAVEDRA, GERARDO ARAYA LETELIER</span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">Evaluation of the Antibacterial,
                                    Anti-Cervical Cancer Capacity, and Biocompatibility of Different Graphene Oxides
                                    Suiza, MOLECULES ISSN: 1420-3049, 2024 vol:29 fasc: págs: 1 - 20,
                                    DOI:10.3390/molecules29020281
                                    Autores: JORGE IVAN CASTRO CASTRO, ALANA PAYAN VALERO, CARLOS HUMBERTO VALENCIA
                                    LLANO, DANIEL FERNANDO INSUASTY DELGADO, JUAN DAVID RODRIGUEZ MACIAS, MARIA
                                    ALEJANDRA ORDONEZ ZAMBRANO, MAYRA ELIANA VALENCIA ZAPATA, JOSE HERMINSUL MINA
                                    HERNANDEZ, CARLOS DAVID GRANDE TOVAR</span>

                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Slurry infiltrated fiber concrete (SIFCON) for use in ballistic and fire protection
                                    of military structures
                                    Reino Unido, STRUCTURES ISSN: 2352-0124, 2023 vol:57 fasc: 23 págs: 1 - 16,
                                    DOI:10.1016/j.istruc.2023.105282
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, YURLENY ALEXANDRA MUNOZ SOLARTE, RUBY MEJIA
                                    DE GUTIERREZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Exploring the Potential of Alternative Materials in Concrete Mixtures: Effect of
                                    Copper Slag on Mechanical Properties and Carbonation Resistance
                                    Portugal, MATERIALS ISSN: 1996-1944, 2023 vol:16 fasc: págs: 1 - 15,
                                    DOI:10.3390/ma16206677
                                    Autores: MONICA ALEJANDRA VILLAQUIRAN CAICEDO
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Obtaining Electrospun Membranes of Chitosan/PVA and TiO2 as a Solid Polymer
                                    Electrolyte with Potential Application in Ion Exchange Membranes
                                    Suiza, MEMBRANES ISSN: 2077-0375, 2023 vol:13 fasc: págs: 1 - 11,
                                    DOI:10.3390/membranes13110862
                                    Autores: ELIO ENRIQUE RUIZ GOMEZ, JOSE HERMINSUL MINA HERNANDEZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Hybrid Cements and Construction Elements Based on Alkaline Activation with Sodium
                                    Sulfates from Fly Ash and Construction and Demolition Waste
                                    Suiza, MATERIALS ISSN: 1996-1944, 2023 vol:16 fasc: 18 págs: 1 - 18,
                                    DOI:10.3390/ma16186272
                                    Autores: WILLIAM GUSTAVO VALENCIA SAAVEDRA, RAFAEL ANDRES ROBAYO SALAZAR, RUBY MEJIA
                                    DE GUTIERREZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Residuos de construcción y demolición como materia prima de concretos y elementos de
                                    construcción obtenidos mediante activación alcalina
                                    Colombia, Revista de la Academia Colombiana de Ciencias Exactas, Físicas y Naturales
                                    ISSN: 2382-4980, 2023 vol:47 fasc: 184 págs: 505 - 519, DOI:10.18257/raccefyn.1892
                                    Autores: RUBY MEJIA DE GUTIERREZ, RAFAEL ANDRES ROBAYO SALAZAR, WILLIAM GUSTAVO
                                    VALENCIA SAAVEDRA
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Desarrollo de mezclas para impresión 3D basadas en cemento portland y adiciones de
                                    metacaolín, micro sílice y carbonato
                                    Colombia, Ingeniería Y Competitividad ISSN: 2027-8284, 2023 vol:25 fasc: 4 págs: 1 -
                                    30, DOI:10.25100/iyc.v25i4.13116
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, MIGUEL MUNOZ BENAVIDES, RUBY MEJIA DE
                                    GUTIERREZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Desarrollo de mezclas para impresión 3D basadas en cemento portland y adiciones de
                                    metacaolín, micro sílice y carbonato
                                    Colombia, Ingeniería Y Competitividad ISSN: 2027-8284, 2023 vol:25 fasc: 4 págs: 1 -
                                    30, DOI:10.25100/iyc.v25i4.13116
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, MIGUEL MUNOZ BENAVIDES, RUBY MEJIA DE
                                    GUTIERREZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Recycling of eps foam and demolition wastes in the preparation of ecofriendly render
                                    mortars with thermal-acoustic insulation properties
                                    España, MATERIALES DE CONSTRUCCION ISSN: 0465-2746, 2023 vol:73 fasc: 351 págs: 1 -
                                    15, DOI:10.3989/mc.2023.342422
                                    Autores: MONICA ALEJANDRA VILLAQUIRAN CAICEDO, LUIS FERNANDO MARMOLEJO REBELLON,
                                    CRISTHIAN DAVID ACEVEDO SANCHEZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Valorization of a low-quality coal ash, in the preparation of alkali activated inks
                                    for applications in 3D additive manufacturing
                                    Reino Unido, CONSTRUCTION AND BUILDING MATERIALS ISSN: 0950-0618, 2023 vol:399 fasc:
                                    N/A págs: 1 - 13, DOI:10.1016/j.conbuildmat.2023.132598
                                    Autores: MONICA ALEJANDRA VILLAQUIRAN CAICEDO, RUBY MEJIA DE GUTIERREZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Chitosan (CS)/Hydroxyapatite (HA)/Tricalcium Phosphate (β-TCP)-Based Composites as a
                                    Potential Material for Pulp Tissue Regeneration
                                    Suiza, POLYMERS ISSN: 2073-4360, 2023 vol:15 fasc: págs: 1 - 16,
                                    DOI:10.3390/polym15153213
                                    Autores: INGRID XIMENA ZAMORA CORDOBA, GILBERT ALFONSO MORALES, JORGE IVAN CASTRO
                                    CASTRO, LINA MARCELA RUIZ ROJAS, CARLOS HUMBERTO VALENCIA LLANO, JOSE HERMINSUL MINA
                                    HERNANDEZ, MAYRA ELIANA VALENCIA ZAPATA, CARLOS DAVID GRANDE TOVAR
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    3D Printing of Hybrid Cements Based on High Contents of Powders from Concrete,
                                    Ceramic and Brick Waste Chemically Activated with Sodium Sulphate (Na2SO4).
                                    Suiza, SUSTAINABILITY ISSN: 2071-1050, 2023 vol:15 fasc: 9900 págs: 1 - 21,
                                    DOI:10.3390/su15139900
                                    Autores: RAFAEL ANDRES ROBAYO SALAZAR, FABIO MARTINEZ GUTIERREZ, ARMANDO VARGAS
                                    LOPEZ, RUBY MEJIA DE GUTIERREZ
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    The Entrapment and Concentration of SARS-CoV-2 Particles with Graphene Oxide: An In
                                    Vitro Assay
                                    Suiza, NANOMATERIALS ISSN: 2079-4991, 2023 vol:13 fasc: págs: 1 - 10,
                                    DOI:10.3390/nano13020343
                                    Autores: BEATRIZ PARRA PATINO, ADOLFO CONTRERAS RENGIFO, JOSE HERMINSUL MINA
                                    HERNANDEZ, MAYRA ELIANA VALENCIA ZAPATA, CARLOS DAVID GRANDE TOVAR, CARLOS HUMBERTO
                                    VALENCIA LLANO, CRISTINA MARIA DEL SOCORRO RAMIREZ TORO, GERMAN BOLIVAR
                                </span>
                            </li>
                            <li class="mb-2"><span style="font-size: 11pt;">
                                    Metal Oxide Gas Sensors to Study Acetone Detection Considering Their Potential in
                                    the Diagnosis of Diabetes: A Review
                                    Suiza, MOLECULES ISSN: 1420-3049, 2023 vol:28 fasc: 1150 págs: 1 - 21,
                                    DOI:10.3390/molecules28031150
                                    Autores: YASSER HALIL OCHOA MUNOZ, RUBY MEJIA DE GUTIERREZ, JORGE ENRIQUE RODRIGUEZ
                                    PAEZ
                                </span>
                            </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>