<div class="m-4 ">
    <h2 class="text-red-600 text-4xl">
        Bienvenidos
    </h2>
    <div class=" my-3 ">
        <p class="text-justify mb-4">
            El Grupo de MATERIALES COMPUESTOS de la Escuela de Ingeniería de Materiales pertenece a la Facultad de
            Ingeniería, de la Universidad del Valle en Cali (Colombia). El grupo es categoría A1, el máximo escalafón
            del organismo de Ciencia y Tecnología de Colombia, COLCIENCIAS. Así mismo, el grupo Materiales Compuestos
            hace parte del Centro de Excelencia en Nuevos Materiales, CENM con sede en la Universidad del Valle.
        </p>
        <p class="text-justify mb-4">
            Este grupo fue creado en el año 1986 y trabaja bajo la dirección de la Dra. Ruby Mejía de Gutiérrez; fue el
            gestor del Plan de pregrado en Ingeniería de Materiales de la Universidad del Valle, que hoy cuenta con
            aproximadamente 300 estudiantes, así como del programa de Maestría y de Doctorado en Ingeniería Área de
            Énfasis de Ingeniería de Materiales, este último dio inicio en agosto del 2001, y a la fecha cuenta con
            treinta y uno (31) egresados,de los cuales 18 han sido dirigidos por docentes del grupo y 5 por miembros
            asociados. La participación del GMC contribuyó a que el programa de doctorado de la Escuela de Ingeniería de
            Materiales fuera condecorado con el primer puesto en el premio de la Asociación Iberoamericana de Posgrado
            AUIP a la calidad del Posgrado y el Doctorado en Iberoamérica (2010).
        </p>
        <p class="text-justify mb-4">
            En general, la investigación del grupo se centra en el desarrollo de materiales compuestos de base cerámica
            o polimérica, particulados, fibrorreforzados y materiales compuestos de aleaciones metálicas, con el
            objetivo de obtener propiedades de desempeño que superen a los materiales tradicionales o materiales
            alternativos que contribuyan a la solución apropiada de problemas tecnológicos y ambientales. Incluye en
            estos desarrollos, el uso ecológico de los desechos, subproductos y coproductos generados en los procesos de
            producción agrícola, minera, industrial y domiciliara.
        </p>
        <p class="text-justify ">
            En el grupo se crean los semilleros y jóvenes investigadores a partir de los programas profesionales de
            pregrado en Ingeniería, especialmente la de Materiales, se impacta el medio asociando la investigación con
            las necesidades del sector productivo y se logra la inserción internacional a través de la producción
            científica y la participación en redes académicas y de investigadores. El grupo cuenta con relaciones
            colaborativas con investigadores y grupos de diferentes instituciones en España, Estados Unidos, Australia,
            Reino Unido y algunos países de Latinoamérica, con los cuales ha desarrollado actividades conjuntas.
        </p>
    </div>

    <div class=" flex justify-center m-4">
        <img src="/img/laboratorios/Laboratorio_de_Caracterizacin_1_1.jpg"  class="rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300  mx-6 "/>

    </div>
</div>