<div class="m-4">
    <div class="text-red-600  mb-4">
        <h2 class="text-4xl">
            Jose Herminsul Mina Hernández

        </h2>
        <p>
            Ing.Mat - M.C. - Dr.Ing. - <a class="text-blue-600 visited:text-purple-600"
                href="mailto:jose.mina@correounivalle.edu.co">jose.mina@correounivalle.edu.co</a>

        </p>
    </div>
    <div class="grid grid-cols-5 gap-4 ">
        <div class="col-span-3">
            <h4 class="font-bold text-lg text-red-500">
                Perfil:
            </h4>
            <div class="">

                <div class="">
                    <p class="mb-3 text-justify">
                        Ingeniero de Materiales de la Universidad del Valle, con una Maestría en Ciencias en Materiales
                        Poliméricos por el Centro de Investigación Científica de Yucatán (México) y un Doctorado en
                        Ingeniería con énfasis en Ingeniería de Materiales por la Universidad del Valle. Actualmente, es
                        profesor asociado en la Escuela de Ingeniería de Materiales y Director del Programa Académico.
                        Sus áreas de interés se centran en la síntesis, propiedades y procesamiento de materiales
                        poliméricos, destacándose especialmente en el campo de los biomateriales, donde ha acumulado una
                        vasta experiencia.
                    </p>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class=" flex flex-col items-end col-span-2  items-center">
            <img class=" h-80 w-auto" src="/img/integrantes/Jose_Mina.jpg" />
        </div>
        <div class="col-span-5">

        </div>
    </div>

    <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/1_formacion.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Estudios Universitarios
                </h2>
            </div>
            <div class="hidden relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-6">
                    <div class="mx-6">
                        <ul class="list-disc">
                            <li>
                                <p class="">Doctorado en Ingeniería</p>
                                <p class="text-sm text-gray-500"> Universidad Complutense de Madrid (España)</p>
                            </li>
                            <li>
                                <p class="">Maestría/Magister Ciencias en Materiales Poliméricos</p>
                                <p class="text-sm text-gray-500"> Centro de Investigación Científica de Yucatán</p>
                            </li>
                        </ul>
                    </div>
                    <div class="mx-6">
                        <ul class="list-disc">
                            <li>
                                <p class="">Ingeniería de Materiales</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/2_ar_interes.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Proyectos de Investigación
                </h2>
            </div>
            <div class="hidden relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-6">
                    <div class="">
                        <ul class="list-decimal	">
                            <li>
                                <p class="text-justify mb-3">
                                    <label class="font-bold"> Titulo:</label>
                                     Preparación y caracterización de cementos óseos acrílicos bioactivos para usar en
                                    prótesis ortopédicas. Financiación: Universidad del Valle.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify mb-3">
                                    <label class="font-bold"> Titulo:</label>
                                     Preparación y caracterización de cementos óseos para usar en técnicas de regeneración ósea
                                    Financiación: Colciencias. (Programa de intercambio de investigadores e innovadores Colombia-México)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>