<div class="m-4">
    <h2 class="text-red-600 text-4xl mb-4">
        Laboratorios
    </h2>
    <div class=" my-3 ">
        <p class="text-justify mb-4">
            El laboratorio tiene como actividad principal la investigación, complementada por la docencia, conforme a la
            Resolución del Consejo de Facultad N° 294 del 19 de diciembre de 2017, actualizada por la Resolución N° 140
            del 29 de marzo de 2022. En el ámbito docente, apoya prácticas de laboratorio de cursos del pregrado de
            Ingeniería de Materiales y contribuye en la dirección de tesis de pregrado de estudiantes de Ingeniería de
            Materiales e Ingeniería Civil. Asimismo, colabora en la realización de trabajos de posgrado y tesis
            doctorales de estudiantes de la Maestría y el Doctorado en Ingeniería, con énfasis en Ingeniería de
            Materiales.

        </p>
        <p class="text-justify mb-4">
            Además, el laboratorio ofrece servicios de análisis a otros grupos de investigación, tanto internos como
            externos a la Universidad del Valle, así como al sector académico e investigativo en general.
        </p>
    </div>

    </div>

            <!-- Carrusel de imágenes -->
            <div class="flex items-center justify-center ">
                <div class="w-full mx-6 overflow-hidden relative">
                    <!-- Contenedor del carrusel -->
                    <div id="carrusel" class="carrusel flex transition-transform duration-500 ease-in-out gap-2">
                        <img src="/img/foto_grupo_materiales.jfif" alt="Imagen 1" class="w-1/2 rounded-lg shadow-lg hover:shadow-xl object-cover flex-shrink-0">
                        <img src="/img/laboratorios/Laboratorio_de_Caracterizacin.jpg" alt="Imagen 2" class="w-1/2 rounded-lg shadow-lg hover:shadow-xl object-cover flex-shrink-0">
                        <img src="/img/laboratorios/Laboratorio_de_caracterizacion.jpg" alt="Imagen 3" class="w-1/2 rounded-lg shadow-lg hover:shadow-xl object-cover flex-shrink-0">
                        <img src="/img/laboratorios/Estefania montoya quesada(2).jpg" alt="Imagen 4" class="w-1/2 rounded-lg shadow-lg hover:shadow-xl object-cover flex-shrink-0">
                        <img src="/img/laboratorios/Maria camila Aguilar.jpg" alt="Imagen 4" class="w-1/2 rounded-lg shadow-lg hover:shadow-xl object-cover flex-shrink-0">
                        <img src="/img/laboratorios/REÓMETRO.jpg" alt="Imagen 4" class="w-1/2 rounded-lg shadow-lg hover:shadow-xl object-cover flex-shrink-0">
                    </div>
                </div>
            </div>
    
    <div class="mb-8 p-1">
        <div class="mb-4">
            <h3 class="mx-4 text-red-600 font-bold text-lg">
                Equipos Registrados
            </h3>
        </div>
        <div id="tabla-contenedor" class="overflow-y-auto ml-2 	" style="max-height: 700px">
        </div>

    </div>

    <div id="modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white rounded-lg w-96 p-6 relative">
            <button onclick="closeModal()" class="absolute top-2 right-2 text-lg text-gray-600">
                &times;
            </button>
            <div class="text-center mb-4">
                <h2 class="text-xl font-semibold">MICRO COVERMETER</h2>

            </div>

            <div class="flex justify-center items-center">
                <img class="h-64 w-auto"
                    src="https://firebasestorage.googleapis.com/v0/b/sigelabx.appspot.com/o/1NcocSsdjRQZYiSKSPjL%2F1720193230825%2Fimg_20240705_090458442_1720193230.jpg?alt=media&token=17c98ac6-7d32-441c-bd00-5e7357d13f44" />
            </div>

            <div class="mt-6 flex justify-end">
                <button onclick="closeModal()" class="px-4 py-2 bg-red-600 text-white rounded-md">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

