<div class="m-4">
  <h2 class="text-red-600 text-4xl mb-4">Integrantes</h2>

  <div>
    <div class="flex flex-wrap md:flex-nowrap gap-4 justify-center mb-6">
      <div class="cursor-pointer" id="rubyMejiaLink">
        <img
          src="/img/integrantes/Ruby_Meja_de_Gutirrez_1.jpg"
          class="responsive-image-member"
        />

        <div class="bg-red-600 text-white">
          <h3 class="text-center font-bold" id="#rubyMejia">
            Ruby Mejía de Gutiérrez
          </h3>
          <p class="text-center">Directora del grupo de investigación</p>
        </div>
      </div>
      <div class="cursor-pointer" id="joseMinaLink">
        <img
          src="/img/integrantes/Jose_Herminsul_Mina_2.jpg"
          class="responsive-image-member"
        />

        <div class="bg-red-600 text-white">
          <h3 class="text-center font-bold" id="#joseMina">
            Jose Herminsul Mina
          </h3>
          <p class="text-center">Profesores / Investigador</p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap md:flex-nowrap gap-4 justify-center mb-6">
      <div class="cursor-pointer" id="monicaCaiscedoLink">
        <img
          src="/img/integrantes/Mnica_Villaquirn_caicedo_2.jpg"
          class="responsive-image-member"
        />

        <div class="bg-red-600 text-white">
          <h3 class="text-center font-bold" id="#monicaCaiscedo">
            Mónica Villaquirán caicedo
          </h3>
          <p class="text-center">Profesor / Investigador</p>
        </div>
      </div>
      <div class="cursor-pointer" id="silvioDelvastoLink">
        <img
          src="/img/integrantes/Silvio-Delvasto.jpg"
          class="responsive-image-member"
        />

        <div class="bg-red-600 text-white">
          <h3 class="text-center font-bold" id="#silvioDelvasto">
            Dr. Silvio Delvasto Arjona
          </h3>
          <p class="text-center">Investigador</p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-4 justify-center mb-6">
    </div>
  </div>
</div>
