<div class="m-4">
    <div class="text-red-600  mb-4">
        <h2 class="text-4xl">
            Mónica A. Villaquirán Caicedo
        </h2>
        <p>
            Ing.Mat - Dr.Ing. - <a class="text-blue-600 visited:text-purple-600"
                href="monica.villaquiran@correounivalle.edu.co">jose.mina@correounivalle.edu.co</a>

        </p>
    </div>
    <div class="grid grid-cols-5 gap-4 ">
        <div class="col-span-3">
            <h4 class="font-bold text-lg text-red-500">
                Perfil:
            </h4>
            <div class="">

                <div class="">
                    <p class="mb-3 text-justify">
                        Ingeniera de Materiales por la Universidad del Valle, con una Maestría en Ingeniería con énfasis
                        en Ingeniería de los Materiales y un Doctorado en Ingeniería por la misma institución.
                        Actualmente, se desempeña como profesora asistente en la Escuela de Ingeniería de Materiales,
                        donde forma parte del área académica de materiales cerámicos y compuestos.
                    </p>
                    <p class="mb-3 text-justify">
                        Sus áreas de interés incluyen el estudio y desarrollo de materiales cerámicos y compuestos, así como la
                        investigación de materiales alternativos basados en residuos industriales. Además, trabaja en activación
                        alcalina y geopolimerización, enfocándose en la creación de soluciones sostenibles y de alto rendimiento
                        en el campo de los materiales.
                    </p>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class=" flex flex-col items-end col-span-2  items-center">
            <img class="" src="/img/integrantes/Mnica-Villaquiran-2.png" />
        </div>
        <div class="col-span-5">
            <p class="mb-3 text-justify">

            </p>
        </div>
    </div>

    <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/1_formacion.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Estudios Universitarios
                </h2>
            </div>
            <div class=" relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-6">
                    <div class="mx-6">
                        <ul class="list-disc">
                            <li>
                                <p class="">Doctorado en Ingeniería</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                            <li>
                                <p class="">Maestria en Ingenieria-Enfasis Ingenieria de los Materiales</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                        </ul>
                    </div>
                    <div class="mx-6">
                        <ul class="list-disc">
                            <li>
                                <p class="">Ingeniería de Materiales</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>