<div class="m-4">

    <h2 class="text-red-600 text-4xl mb-4">
        Proyectos de Investigación
    </h2>
    <div class=" flex flex-col gap-3 m-2">
        <h3 class="text-red-600 font-bold text-lg">
            1. Construcción de prototipo a escala de vivienda rural utilizando materiales innovadores de baja huella de
            carbono

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El grupo de investigación Materiales Compuestos en su línea "Activación Alcalína y Geopolimerización",
                pionero en esta temática a nivel nacional, complementada con la de "Valorización de Desechos y
                Subproductos Industriales" ha ejecutado aproximadamente nueve (9) proyectos previos del año 2001 a la
                fecha, en los cuales ha desarrrollado materiales cementantes simples y compuestos a través del proceso
                de geopolimerización controlada de minerales, desechos y/o subproductos industriales, demostrando la
                viabilidad de generar productos de calidad aptos para su utilización en el sector de la construcción.
                Con base en estos resultados, en este proyecto se plantea desarrollar materiales constructivos para
                vivienda de baja huella de carbono y con ellos construir un prototipo demostrativo donde se implementen
                los diversos productos ecoeficientes (morteros, concretos, bloques, paneles, tejas, ladrillos,
                adoquines, baldosas, entre otros).
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    Argos y Colciencias
                </p>
                <p>
                    - Dr. Armando Orobio Q., Grupo GRUA (Coinvestigador)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Colciencias
                </p>
            </div>
        </div>
        <h3 class="text-red-600 font-bold text-lg">
            2. Aerogeles de nanosilice para recubrimientos super aislantes ecosostenibles

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Integrantes::
            </h4>
            <p class="text-justify">
                - Dr. Silvio Delvasto A. (investigador principal)
            </p>

            <h4>
                <h4 class="text-red-500 ">
                    Entidadades Financieras:
                </h4>

                <div class="flex flex-col gap-2 mx-6">

                    <p>
                        - Universidad del Valle
                    </p>
                </div>
            </h4>
        </div>
        <h3 class="text-red-600 font-bold text-lg">
            3. PUZOGEOH: Nuevos cementantes con baja huella de carbono basados en puzolanas naturales colombianas de
            tipo volcánico

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El 0.84% de los suelos en regiones tropicales del mundo están compuestos por cenizas volcánicas, y en
                Colombia ocupan cerca del 11.6% del territorio nacional y se localizan en las zonas de mayor crecimiento
                demográfico y económico, particularmente en toda la región andina, centro y sur de Colombia, se
                extienden desde el Eje Cafetero (departamentos de Antioquia, Caldas, Risaralda y Quindío) en el centro
                del país, hasta los departamentos de Tolima, Cauca y Nariño hacia el sur oeste del mismo. Cabe anotar
                que, la investigación acerca de la utilización de las puzolanas naturales en los procesos cementicios,
                tanto para el desarrollo de cementos adicionados así como de los nuevos cementos de activación alcalina,
                ha ido en incremento debido a la versatilidad de uso, fácil adquisición, y ventajas medioambientales que
                otorgan en su procesamiento. En general, en el caso de adición al cemento se recomienda la utilización
                de un porcentaje del orden máximo del 30% mientras que la utilización en cementantes alcalinos muestra
                la posibilidad de usar mayor proporción en la mezcla e incluso invertir esta proporción en aquellos
                cementantes denominados híbridos, es decir producir materiales cementantes donde la cantidad de cemento
                máxima puede estar cercana al 20% o menos, privilegiando así el consumo de la puzolana natural. Con base
                en esto, el proyecto se propuso como Objetivo: Desarrollar y evaluar un cementante de tipo geopolimérico
                hibrido mediante la técnica de activación alcalina (geopolimerización) aplicada a una puzolana natural
                de naturaleza volcánica y plantear la factibilidad de emplear este tipo de material en la construcción
                civil con criterios de sostenibilidad técnica, social y ambiental.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dra. Ruby Mejía de Gutiérrez (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Argos y Colciencias
                </p>
            </div>

        </div>

        <h3 class="text-red-600 font-bold text-lg">
            3. PUZOGEOH: Nuevos cementantes con baja huella de carbono basados en puzolanas naturales colombianas de
            tipo volcánico

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El 0.84% de los suelos en regiones tropicales del mundo están compuestos por cenizas volcánicas, y en
                Colombia ocupan cerca del 11.6% del territorio nacional y se localizan en las zonas de mayor crecimiento
                demográfico y económico, particularmente en toda la región andina, centro y sur de Colombia, se
                extienden desde el Eje Cafetero (departamentos de Antioquia, Caldas, Risaralda y Quindío) en el centro
                del país, hasta los departamentos de Tolima, Cauca y Nariño hacia el sur oeste del mismo. Cabe anotar
                que, la investigación acerca de la utilización de las puzolanas naturales en los procesos cementicios,
                tanto para el desarrollo de cementos adicionados así como de los nuevos cementos de activación alcalina,
                ha ido en incremento debido a la versatilidad de uso, fácil adquisición, y ventajas medioambientales que
                otorgan en su procesamiento. En general, en el caso de adición al cemento se recomienda la utilización
                de un porcentaje del orden máximo del 30% mientras que la utilización en cementantes alcalinos muestra
                la posibilidad de usar mayor proporción en la mezcla e incluso invertir esta proporción en aquellos
                cementantes denominados híbridos, es decir producir materiales cementantes donde la cantidad de cemento
                máxima puede estar cercana al 20% o menos, privilegiando así el consumo de la puzolana natural. Con base
                en esto, el proyecto se propuso como Objetivo: Desarrollar y evaluar un cementante de tipo geopolimérico
                hibrido mediante la técnica de activación alcalina (geopolimerización) aplicada a una puzolana natural
                de naturaleza volcánica y plantear la factibilidad de emplear este tipo de material en la construcción
                civil con criterios de sostenibilidad técnica, social y ambiental.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dra. Ruby Mejía de Gutiérrez (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Argos y Colciencias
                </p>
            </div>

        </div>

        <h3 class="text-red-600 font-bold text-lg">
            4. HYBRICEMENT: Conglomerantes Portland híbridos de bajo potencial de CO2, basados en minerales y
            subproductos industriales

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                La sustitución parcial del clinker ha dado origen a un tipo de cementos denominado Cementos Portland
                Adicionados o "Blended Cements", estos cementos son mas ecológicos que los cementos portland ordinarios
                (OPC) ya que su fabricación es menos intensiva en energía, y se emiten menos gases invernadero a la
                atmósfera (un 17% menos que el OPC); así mismo se da utilización a subproductos industriales tales como
                la escoria granulada de alto horno, la ceniza volante, el humo de sílice, la caliza, entre otros. La
                comunidad científica internacional en las convenciones recientes ha incluido una nueva categoría de
                cementos denominados CEMENTOS HIBRIDOS que tienen como objetivo combinar los efectos positivos de los
                materiales tradicionales basados en cemento portland (OPC) con los cementantes activados alcalinamente
                (Geopolimeros), generando nuevos cementantes con resistencias mecánicas y durabilidad superior al
                coexistir sus productos de hidratación, las fases de silicatos cálcicos hidratados con los geles
                aluminosilicatos o geopoliméricos. Se considera que este tipo de cementos son de alta factibilidad en el
                futuro inmediato por lo cual han sido considerados como los cementos del siglo 21. Esto ha hecho que en
                la actualidad a nivel internacional estén siendo estudiados sistemas tales como cementos portland
                adicionados híbridos activados alcalinamente los cuales hacen parte de los actualmente reconocidos como
                cementos de "Bajo Potencial De Carbono". Con base en lo anterior, el presente proyecto se propone
                desarrollar materiales híbridos que conjuguen las ventajas del cemento portland y de los procesos
                conocidos como de Activación Alcalina y generar cementantes con contenidos de cemento portland
                inferiores al 30% e incorporación de adiciones activas superiores al 70%, lo cual además permitirá
                incrementar el valor agregado de los desechos y/o subproductos industriales, producir materiales más
                amigables al medio ambiente con propiedades mecánicas, térmicas, termo mecánicas, y de durabilidad
                acordes a los requerimientos técnicos, generar unas nuevas metodologías para el desarrollo de nuevos
                materiales cementicios, y ampliar el espectro de potenciales aplicaciones en Colombia. Una consecuencia
                adicional es la reducción de costos de los materiales o la mayor relación costo-beneficio en aquellos
                casos en los que las propiedades mecánicas y/o de durabilidad son ampliamente mejoradas.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dra. Ruby Mejía de Gutiérrez (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Colciencias
                </p>
            </div>

        </div>

        <h3 class="text-red-600 font-bold text-lg">
            5. Reciclar escombros en concreto (Finalizado)

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                Incorporación de agregados (grueso y fino) y de filler, obtenidos a partir de escombros de la
                construcción (residuos de concreto, de mampostería, y de cerámica roja) sobre las propiedades en estado
                fresco y endurecido de concretos autocompactantes y concretos convencionales, plantear aplicaciones de
                uso y probar su aplicación en placas a escala real que será evaluadas estructuralmente comparando su
                desempeño con una placa de referencia de concreto, del mismo diseño, pero con agregados convencionales.
                Este proyecto de investigación busca el aprovechamiento de los residuos de demolición o escombros
                (residuos de concreto, de mampostería, y de cerámica roja) para producir agregados gruesos (triturado),
                finos (arenas) y material de tamaño micrométrico, como filler o impalpable, para obtener con ellos
                concretos convencionales y concretos autocompactantes de alto desempeño y que poseen como rasgo
                distintivo el poder fluir bajo su propio peso a causa de sus características reológicas de alta fluidez
                y de resistencia a la segregación. Su uso trae ventajas técnicas, ambientales y para la seguridad
                industrial del trabajador de la construcción pues no se requiere vibración para fundir o moldear
                mezclas. Por otro lado, se facilita la penetración del concreto en las armaduras de acero, aún en las de
                más altas concentraciones de armadura.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dr. Silvio Delvasto (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Universidad del Valle. Convocatoria Interna
                </p>
            </div>

        </div>

        <h3 class="text-red-600 font-bold text-lg">
            6. Desarrollo de un nuevo cemento hibrido tipo portland con alto porcentaje de adición (Finalizado)

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El propósito de este proyecto de investigación es: Desarrollar un cemento híbrido con altos contenidos
                de un subproducto industrial, producto de la generación térmica en calderas industriales y/o centrales
                térmicas que queman carbón o mezcla de carbón y polvillo (obtenido del bagazo) y que presentan un nivel
                de inquemados del orden del 15% o superior, lo cual no permite su incorporación directa como adición en
                los cementos y concretos, en el cual se conjuguen las características de los cementos Pórtland
                tradicionales y las ventajas técnicas y medioambientales de los nuevos materiales alternativos de bajo
                potencial de carbono (CO2), tales como los obtenidos mediante procesos de activación alcalina. Estos
                materiales se espera posean propiedades aceptables en estado fresco, altas resistencias iniciales (1, y
                7 días) y cumplan con las resistencias mecánicas y químicas a lo largo plazo exigidas acorde al ambiente
                de servicio.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dra. Ruby Mejía de Gutiérrez (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Universidad del Valle. Convocatoria Interna
                </p>
            </div>

        </div>


        <h3 class="text-red-600 font-bold text-lg">
            7. Desarrollo de materiales compuestos a base de geopolímeros y fibras de alta resistencia para aplicaciones
            de alta tecnología
            (Finalizado)

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El presente proyecto pretende desarrollar un material compuesto cerámico de matriz geopolímerica
                reforzado con fibras de carbono para aplicación como recubrimiento, en sustratos cerámicos y metálicos,
                con propiedades mecánicas, térmicas, eléctricas y/o anticorrosivas, tal que pueda ser utilizado en la
                industria aeronáutica y automotriz. Se analizaran los diferentes factores que afectan el diseño y
                propiedades de la matriz y el composite, relacionados con la naturaleza y dosificación de materiales,
                las condiciones de preparación y síntesis, el tiempo y temperatura de curado, con el fin de fijar
                criterios metodológicos para su producción. En los materiales, geopolímeros simples y compuestos, se
                evaluaran sus propiedades físicas, químicas y mecánicas, y se estudiarán las estabilidades química y
                térmica. Un objetivo adicional es construir vínculos entre la diáspora científica colombiana y el SNCTI
                que permitan cultivar el capital humano y social de los colombianos residentes en el exterior
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dra. Ruby Mejía de Gutiérrez (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Colciencias (Diáspora. Banco Mundial)
                </p>
            </div>

        </div>


        <h3 class="text-red-600 font-bold text-lg">
            8. GEOCERAM: Valorización de subproductos y desechos industriales tipo aluminosilicato, a través de procesos
            de geopolimerización para el desarrollo de materiales cerámicos de altas prestaciones
            (Finalizado)

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El desarrollo tecnológico de un país influye en el progreso social y económico pero en algunos casos
                contribuye al deterioro del entorno, por ello, en la actualidad, las políticas medioambientales
                comprometen a la industria en conseguir procesos tecnológicos limpios acordes con el medioambiente con
                el fin de evitar el agotamiento y degradación de los recursos naturales, reducir el consumo energético y
                minimizar en alto grado el nivel de emisiones de gases invernadero, tales como el CO2, considerado uno
                de los responsables de los cambios climáticos. Una forma de contribuir responsablemente a la solución de
                estos problemas, entre otras, es mediante el aprovechamiento de los desechos y subproductos
                industriales, proponiendo alternativas de aplicación y tecnologías de manufactura para generar productos
                sostenibles técnica y ambientalmente. Es así como el propósito del presente proyecto es desarrollar en
                Colombia nuevos materiales cerámicos de altas prestaciones, de baja emisión de CO2 y reducido consumo
                energético, a partir de un proceso de geopolimerización utilizando dos aluminosilicatos subproductos de
                la industria (un catalizador del proceso de craqueo catalítico en la industria petrolera, FCC, y un
                subproducto de la combustión del carbón, CV) para generar materiales útiles en la industria de la
                construcción civil y de la cerámica estructural resistente a altas temperaturas.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dra. Ruby Mejía de Gutiérrez (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Colciencias
                </p>
            </div>

        </div>
        <h3 class="text-red-600 font-bold text-lg">
            9. Cerámicas triaxiales basadas en cenizas del tamo de arroz
            (Finalizado)

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                La sustitución de materias primas tradicionales por desechos agrícolas o agroindustriales para el
                procesamiento de materiales que consumen alta energía durante su procesamiento causa un impacto positivo
                en la preservación del ambiente. El tamo de arroz es uno de estos residuos, que tiene una producción
                mundial anual de aproximadamente 690 millones de toneladas. Esta investigación estudia el uso de la
                ceniza de tamo de arroz como sustituto de materias primas tradicionales como el cuarzo y el feldespato
                usadas en la fabricación de cerámicas triaxiales.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dr. Silvio Delvasto Arjona (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Colciencias (en relación con personal del Instituto de Tecnología Cerámica y la UPV en España)
                </p>
            </div>

        </div>
        <h3 class="text-red-600 font-bold text-lg">
            10. Preparación y caracterización de cementos óseos acrílicos bioactivos para usar en prótesis ortopédicas
            (Finalizado)

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                El Polimetilmetacrilato (PMMA) es un material que ha sido poco utilizado en el campo de la regeneración
                ósea, debido principalmente a los problemas asociados a su citotoxicidad y elevada temperatura de
                polimerización; siendo éstas características precisamente las que restringen su campo de aplicación, a
                pesar de las ventajas tecnológicas y económicas que éste material exhibe. Con el desarrollo de la
                presente propuesta se pretende modificar un cemento óseo acrílico, a partir del uso de monómeros
                funcionalizados y la incorporación de materiales cerámicos bioactivos y bioreabsorbibles, tales como la
                hidroxiapatita y el fosfato tricalcico, buscando que el cemento llegue a exhibir propiedades
                osteoconductoras que permitan la regeneración ósea al ser utilizado el material como relleno o matriz.
                Así mismo, con el uso del cemento óseo bioactivo se espera conseguir: una mínima probabilidad de
                necrosis térmica o química del tejido óseo circundante, una mejor fijación de las prótesis articulares y
                la posible aplicación del material para el tratamiento de la perimplantitis en Implantologia oral. En el
                estudio propuesto participan investigadores vinculados a los grupos: Grupo de Materiales Compuestos de
                la Escuela de Ingeniería de Materiales, Grupo de Síntesis y Mecanismos en Química Orgánica del
                Departamento de Química y Grupo de Biomateriales de la Escuela de Odontología, todos de la Universidad
                del Valle.
            </p>
            <h4 class="text-red-500 ">
                Integrantes:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Dr. Jose Herminsul Mina (investigadora principal)
                </p>
            </div>

            <h4 class="text-red-500 ">
                Entidadades Financieras:
            </h4>

            <div class="flex flex-col gap-2 mx-6">

                <p>
                    - Universidad del Valle (convocatoria interna)
                </p>
            </div>

        </div>


    </div>