<div class="m-4">

    <h2 class="text-red-600 text-4xl mb-4">
        Linea de investigacion
    </h2>
    <div class=" flex flex-col gap-3 m-2">
        <h3 class="text-red-600 font-bold text-lg">
            1. Nuevos Materiales Compuestos y Materiales Alternativos.

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>

            <p class="text-justify">
                Investigación y desarrollo de materiales compuestos de base cementicia o polimérica, particulados y
                fibrorreforzados; y materiales compuestos de aleaciones metálicas. Incluye la innovación de los
                materiales tradicionales en la búsqueda de propiedades de desempeño que superen a los materiales
                tradicionales y de aquellos que son considerados alternativos a partir de materias primas autóctonas o
                por su destinación hacia la solución apropiada de problemas tecnológicos.
            </p>

            <h4>
                <h4 class="text-red-500 ">
                    Integrantes:
                </h4>

                <div class="flex flex-col gap-2 mx-6">

                    <p>
                        - Dra. Ruby Mejía de Gutiérrez
                    </p>
                    <p>
                        - Dr. Silvio Delvasto Arjona
                    </p>
                    <p>
                        - Dr. Jose Herminsul Mina (Polímeros)
                    </p>

                </div>

                <!-- <div class="flex mx-10">
                    <div class="">
                        <a href="#"> 
                        <div class="flex justify-center">
                            <img src="/img/integrantes/Ruby_Mejia.jpg" class="rounded-lg"  width="120" height="120"/>
                        </div>
                        <p class="rounded-lg  p-2  text-sm mt-2	">Ruby Mejía de Gutiérrez </p>
                    </div>
                        </a>
                </div> -->
            </h4>
        </div>
        <h3 class="text-red-600 font-bold text-lg">
            2. Activación Alcalina y Geopolimerización:

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>
            <p class="text-justify">
                Desarrollo de nuevos materiales, tipo polímeros inorgánicos, a partir de minerales y/o desechos y/o
                subproductos industriales que mediante procesos de activación alcalina y geopolimerización den lugar a
                cementantes para su aplicación en la industria cerámica y de construcción.
            </p>

            <h4>
                <h4 class="text-red-500 ">
                    Integrantes:
                </h4>

                <div class="flex flex-col gap-2 mx-6">

                    <p>
                        - Dra. Ruby Mejía de Gutiérrez
                    </p>
                </div>
            </h4>
        </div>

        <h3 class="text-red-600 font-bold text-lg">
            3. Valoración y utilización de desechos en la producción de materiales

        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>
            <p class="text-justify">
                Diseñar e investigar el uso ecológico de los desechos, subproductos y coproductos generados en los
                procesos de producción agrícola, minera, industrial, y domiciliara con base en el estudio de las
                características físicas y químicas que poseen estos para su aplicación en la producción de materiales.
            </p>

            <h4>
                <h4 class="text-red-500 ">
                    Integrantes:
                </h4>

                <div class="flex flex-col gap-2 mx-6">
                    <p>
                        - Dra. Ruby Mejía de Gutiérrez
                    </p>
                    <p>
                        - Dr. Silvio Delvasto Arjona
                    </p>
                </div>
            </h4>
        </div>

        <h3 class="text-red-600 font-bold text-lg">
            4. Corrosión y Durabilidad de Materiales.


        </h3>
        <div class="flex flex-col gap-3 border-b border-gray-500 pb-6">
            <h4 class="text-red-500 ">
                Objetivo:
            </h4>
            <p class="text-justify">
                Análisis, caracterización y evaluación del comportamiento de los materiales en respuesta a los estímulos
                externos, y búsqueda de las causas del deterioro de los materiales. Se investigan las distintas formas
                de corrosión y técnicas electroquímicas para su estudio, como también los diferentes métodos de
                protección, prevención y control de ella. </p>

            <h4>
                <h4 class="text-red-500 ">
                    Integrantes:
                </h4>

                <div class="flex flex-col gap-2 mx-6">
                    <p>
                        - Dra. Ruby Mejía de Gutiérrez
                    </p>
                </div>
            </h4>
        </div>

    </div>

</div>