<div class="m-4">
    <div class="text-red-600  mb-4">
        <h2 class="text-4xl">
            Ruby Mejía de Gutiérrez
        </h2>
        <p>
            Quím - M.Sc. - Dr. Ciencias. - <a class="text-blue-600 visited:text-purple-600"
                href="mailto:ruby.mejia@correounivalle.edu.co">ruby.mejia@correounivalle.edu.co</a>

        </p>
    </div>
    <div class="grid grid-cols-5 gap-4 ">
        <div class="col-span-3">
            <h4 class="font-bold text-lg text-red-500">
                Perfil:
            </h4>
            <div class="">

                <div class="">
                    <p class="mb-3 text-justify">
                        Química graduada de la Universidad del Valle, con un Máster en Ciencias Químicas de la misma
                        institución y Doctora en Ciencias Químicas, especializada en Materiales, por la Universidad
                        Complutense de Madrid. Posee una amplia y reconocida trayectoria en el desarrollo, ejecución y
                        dirección de proyectos de investigación en áreas como materiales de construcción (cementos,
                        adiciones, concretos de alto desempeño), producción de materiales a partir de desechos
                        industriales, procesos de activación alcalina y geopolimerización, así como en materiales
                        compuestos, cerámicos, y estudios de durabilidad y corrosión de materiales.
                    </p>
                </div>
            </div>
        </div>
        <div class=" flex flex-col items-end col-span-2">
            <img src="/img/integrantes/Ruby_Mejia.jpg" />
        </div>
        <div class="col-span-5">
            <p class="text-justify">
                Desde 1986, es la Directora del Grupo de Materiales de Construcción (GMC), habiendo liderado más de 30
                proyectos de investigación. Además, se ha desempeñado como Directora de la Escuela de Ingeniería de
                Materiales de la Universidad del Valle en dos periodos: de 2000 a 2006, y nuevamente desde enero de
                2016, donde también coordina los programas de posgrado. Entre 2010 y 2016, fue Coordinadora del programa
                de posgrado en la misma unidad académica.
            </p>
        </div>
    </div>

    <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/1_formacion.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Estudios Universitarios
                </h2>
            </div>
            <div class="hidden relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-6">
                    <div class="mx-6">
                        <ul class="list-disc">
                            <li>
                                <p class="">Doctorado en Ciencias Químicas (1994-1997)</p>
                                <p class="text-sm text-gray-500"> Universidad Complutense de Madrid (España)</p>
                            </li>
                            <li>
                                <p class="">Magister en Ciencias Químicas (1979-1981)</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                            <li>
                                <p class="">Pregrado en Química (1970-1974)</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                        </ul>
                    </div>
                    <div class="mx-6">
                        <ul class="list-disc">
                            <li>
                                <p class="">Pregrado en Química (1970-1974)</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                            <li>
                                <p class="">Técnico en Laboratorio Químico (1967-1970)</p>
                                <p class="text-sm text-gray-500"> Universidad del Valle, Cali (Colombia)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/2_ar_interes.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Proyectos de Investigación en curso
                </h2>
            </div>
            <div class="hidden relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-6">
                    <div class="">
                        <ul class="list-decimal	">
                            <li>
                                <p class="text-justify mb-3">
                                    <label class="font-bold"> Titulo:</label>
                                    Construcción de prototipo a escala de vivienda rural utililizando innovadores de
                                    baja huella de carbono. Financiación: Departamento Administrativo de Ciencia,
                                    Tecnología e Innovación, COLCIENCIAS.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify mb-3">
                                    <label class="font-bold"> Titulo:</label>
                                    HYBRICEMENT:Conglomerantes Portland híbridos de bajo potencial de CO2,basado en
                                    minerales y subproductos industriales.Financiación: Departamento Administrativo de
                                    Ciencia, Tecnología e Innovación, COLCIENCIAS.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify mb-3">
                                    <label class="font-bold"> Titulo:</label>
                                    PUZOGEOH: Nuevos cementantes con baja huella de carbono basados en puzolanas
                                    naturales colombianas de tipo volcánico. Financiación: Departamento Administrativo
                                    de Ciencia, Tecnología e Innovación, COLCIENCIAS / ARGOS.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/3_prof_asist.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Patentes
                </h2>
            </div>
            <div class="hidden relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-4">
                    <div class="">
                        <table class="border-collapse border border-slate-400">
                            <tr>
                                <th class="border border-slate-300" style="width: 40%;">Miembros</th>
                                <th class="border border-slate-300">Patente</th>
                            </tr>
                            <tr>
                                <td class="border border-slate-300 ">
                                    <ul class="list-disc mx-6">
                                        <li>
                                            RUBY MEJÍA DE GUTIÉRREZ
                                        </li>
                                        <li>
                                            SUSAN ANDREA BERNAL LÓPEZ
                                        </li>
                                        <li>
                                            ERICH RODRÍGUEZ MARTÍNEZ
                                        </li>
                                        <li>
                                            SILVIO DELVASTO ARJONA
                                        </li>
                                    </ul>

                                </td>
                                <td class=" px-2 border border-slate-300 text-justify">
                                    UNIVERSIDAD DEL VALLE E INVESTIGADORES. Nombre comercial: Procedimiento para la
                                    obtención de un cemento inorgánico no Pórtland para usos estructurales y no
                                    estructurales y producto cementante obtenido. contrato/registro:
                                    10-013707-00006-0000. Sometida en 2010, otorgada en marzo 18 del 2013, Resolución
                                    10585. Colombia.
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-slate-300">
                                    <ul class=" list-disc mx-6">
                                        <li>
                                            RUBY MEJÍA DE GUTIÉRREZ
                                        </li>
                                        <li>
                                            MICHEL ANGELO OSPINA GÚZMAN
                                        </li>
                                        <li>
                                            ANDRÉS SALAS MONTOYA
                                        </li>
                                        <li>
                                            SILVIO DELVASTO ARJONA
                                        </li>
                                    </ul>

                                </td>
                                <td class="px-2 border border-slate-300 text-justify">
                                    PATENTE #1 DE INVENCION CONJUNTA UNIVERSIDAD DEL VALLE - ARROCERA LA ESMERALDA S.A.
                                    E INVESTIGADORES. Nombre comercial: Procedimiento para la obtención de una puzolana
                                    por tratamientos térmico y físico y producto obtenido a partir del mismo.
                                    contrato/registro: 08-061404-00000-0000. Sometida en 2008, otorgada en septiembre 26
                                    del 2012, Resolución 56050. Colombia.
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-slate-300">
                                    <ul class=" list-disc mx-6">
                                        <li>
                                            RUBY MEJÍA DE GUTIÉRREZ
                                        </li>
                                        <li>
                                            MICHEL ANGELO OSPINA GÚZMAN
                                        </li>
                                        <li>
                                            ANDRÉS SALAS MONTOYA
                                        </li>
                                        <li>
                                            SILVIO DELVASTO ARJONA
                                        </li>
                                    </ul>

                                </td>
                                <td class="px-2 border border-slate-300 text-justify">
                                    PATENTE #2 DE INVENCION UNIVERSIDAD DEL VALLE - ARROCERA LA ESMERALDA S.A. E
                                    INVESTIGADORES. Nombre comercial: Procedimiento para la obtención de una puzolana
                                    por tratamientos térmico y físico y producto obtenido a partir del mismo.
                                    contrato/registro: 08-061404-00000-0000. Sometida en 2008, otorgada en septiembre 26
                                    del 2012, Resolución 56051. Colombia. </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-span-5">
        <div class="container mx-auto py-2 " onclick="toggleMenu(this)">
            <div
                class="flex justify-center w-full p-2 mb-2 bg-gray-200 border border-gray-300 hover:bg-gray-300 hover:border-yellow-200 cursor-pointer items-center">
                <img src="/img/icons/4_invest_asoc_colccns.png" width="36" height="36" />
                <h2 class="text-red-700 text-center text-lg font-bold">
                    Artículos Científicos
                </h2>
            </div>
            <div class="hidden relative overflow-hidden" onclick="event.stopPropagation()" id="menu">
                <div class="flex mx-4">
                    <div class="">
                        <table class="border-collapse border border-slate-400">
                            <tr>
                                <th class="border border-slate-300" style="width: 40%;">Miembros</th>
                                <th class="border border-slate-300">Articulos</th>
                            </tr>
                            <tr>
                                <td class="border border-slate-300 ">
                                    <ul class="list-disc mx-6">
                                        <li>
                                            ROBAYO R.A
                                        </li>
                                        <li>
                                            MEJÍA DE GUTIÉRREZ R
                                        </li>
                                    </ul>

                                </td>
                                <td class=" px-2 border border-slate-300 text-justify">
                                    Effect of metakaolin on natural volcanic pozzolan based geopolymer cement. Applied Clay Science (2016)
                                    <a href="http://dx.doi.org/10.1016/j.clay.2016.07.020" class="text-blue-600 visited:text-purple-600">
                                        http://dx.doi.org/10.1016/j.clay.2016.07.020
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-slate-300">
                                    <ul class=" list-disc mx-6">
                                        <li>
                                            MEJÍA J
                                        </li>
                                        <li>
                                            MEJÍA DE GUTIÉRREZ R
                                        </li>
                                        <li>
                                            MONTES C
                                        </li>
                                    </ul>

                                </td>
                                <td class="px-2 border border-slate-300 text-justify">
                                    Rice husk ash and spent diatomaceous earth as a source of silica to fabricate a geopolymeric binary binder. Journal of Cleaner Production 118: 133-139 (2016)
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-slate-300">
                                    <ul class=" list-disc mx-6">
                                        <li>
                                            VILLAQUIRÁN M
                                        </li>
                                        <li>
                                            MEJIA DE GUTIERREZ R
                                        </li>
                                        <li>
                                            GORDILLO-SUAREZ M
                                        </li>
                                        <li>
                                            SILVIO DELVASTO ARJONA
                                        </li>
                                    </ul>

                                </td>
                                <td class="px-2 border border-slate-300 text-justify">
                                    PATENTE #2 DE INVENCION UNIVERSIDAD DEL VALLE - ARROCERA LA ESMERALDA S.A. E
                                    INVESTIGADORES. Nombre comercial: Procedimiento para la obtención de una puzolana
                                    por tratamientos térmico y físico y producto obtenido a partir del mismo.
                                    contrato/registro: 08-061404-00000-0000. Sometida en 2008, otorgada en septiembre 26
                                    del 2012, Resolución 56051. Colombia. </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
</div>